@import "tailwindcss";

@theme {
    --color-primary: #2B00B7;
}

@layer utilities{
    .custom-scrollbar::-webkit-scrollbar {
        height: 8px; 
      }
      
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #2B00B7;
        border-radius: 4px;
      }
      .custom-scrollbar::-webkit-scrollbar-track {
        background-color: #7367F029;
        border-radius: 2px;
      }
}

body{
    font-family: public-sans, sans-serif;
}